nav#UniboHeader {
	background-color: rgb(51,57,67);;
	font-family: trajan pro;
}

nav#UniboHeader a#UniboLogo {
	text-decoration: none;
	color: rgb(181,179,177);
}

nav#UniboHeader a#UniboLogo:hover{
	color: rgb(255,255,255);
	text-decoration: none;
}

nav#UniboHeader a#UniboLogo span{
	margin-left: 10px;
}
#UniboHeader a#UniboLogo img {
	margin: 5px;
	height: 40px;
}
footer {
	margin-top: 5%;
}

.prefs, .mails{
	transition : margin-left 1s, margin-right 1s, background-color 1s;
}

.prefs:hover , .mails:hover{
	margin-left: 0%;
	margin-right: 0%;
}

.prefs a {
	color: orange !important;
}

.mails a {
	color: dodgerblue !important;
}

#iconsNav {
	font-family: sans-serif;
}

