.jumbotron {
    border-radius: 6px;
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #eeeeee 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #eeeeee 100%);
    background-image: linear-gradient(bottom, #FFFFFF 0%, #eeeeee 100%);
    background-repeat: no-repeat;
}

.panel-heading {
text-align: center;
font-size: 25px;
text-shadow: 0 5px 5px darkgray;
}

p{
text-align: center;
font-size: 15px;
}
